body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/***** logo */

.LECBlock
{
  display: inline-block;
  padding: 0.5em;
  padding-right: 1em;
  border: 1px solid black;
  position: relative;
}

.LECBlockValue:hover
{
  background-color: lightblue;
}

.LECBlock form
{
  display: inherit;
}

.LECBlock select
{
  width: 3em;
  height: 2.5em;
}

.LECCloseBtn
{
  display: block;
  font-weight: bold;
  font-size: 0.75em;
  background-color: red;
  border-radius: 50%;
  width: 1em;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.2em;
}

.LECTextInput
{
  width: 3em;
}